@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.range-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    #C2AF64 0%,
    #C2AF64 var(--thumb-position),
    #d3d3d3 var(--thumb-position),
    #d3d3d3 100%
  );
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  --thumb-position: 50%;
  position: relative;
}

.range-slider::before {
  content: '';
  position: absolute;
  left: 0;
  right: calc(100% - var(--thumb-position));
  top: 0;
  bottom: 0;
  background: rgba(194, 175, 100, 0.1);
  box-shadow: 0 0 5px #C2AF64;
  border-radius: 4px;
  pointer-events: none;
}

.range-slider::-webkit-slider-runnable-track {
  height: 2px;
  background: transparent;
  border-radius: 4px;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid #C2AF64;
  margin-top: -7px;
}

.range-slider::-moz-range-track {
  height: 2px;
  background: transparent;
  border-radius: 4px;
}

.range-slider::-moz-range-progress {
  background-color: transparent;
  height: 2px;
  border-radius: 4px;
}

.range-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid #C2AF64;
  margin-top: -7px;
}

.range-slider::-ms-track {
  width: 100%;
  height: 2px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range-slider::-ms-fill-lower {
  background-color: #C2AF64;
  border-radius: 4px;
}

.range-slider::-ms-fill-upper {
  background-color: #d3d3d3;
  border-radius: 4px;
}

.range-slider::-ms-thumb {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid #C2AF64;
  margin-top: -7px;
}